{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}










            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <style>
              /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
              .row.content {height: 550px}


              .sidenav {
                background-color:  #020d1a ;
                height: 200%;
                color:white;


              }

ul{
position: fixed;
}



              /* On small screens, set height to 'auto' for the grid */
              @media screen and (max-width: 767px) {
                .row.content {height: auto;}
              }

              .lehsun{
                height:100px;
                width:auto;
              }
            </style>
          </head>
          <body>



          <div class="container-fluid">
            <div class="row content">
              <div class="col-sm-2 sidenav hidden-xs">
<center>
                <ul class="nav nav-pills nav-stacked">
                  <br><br>
                  <center>  <img class="lehsun" src="https://decompiled.in/images/logo.png">  </center>


                  <br><br>
                  <li class="active"><a href="#section1">Dashboard / Admin</a></li>
                  <li><a href="#home"><i style="font-size:24px" class="fa fa-home"> </i> Home</a></li>
                  <li><a href="#socialmedia"><i style="font-size:24px" class="fa">&#xf0e7;</i>  Social media</a></li>
                  <li><a href="#section3"><i style="font-size:24px" class="fa">&#xf086;</i> Chat</a></li>
                  <li><a href="#section3"><i style="font-size:24px" class="fa">&#xf017;</i> Timeline</a></li>
                  <li><a href="#section3"><i style="font-size:24px" class="fa">&#xf007;</i> Profile</a></li>
                  <li><a href="#section3"><i style="font-size:24px" class="fa">&#xf013;</i> Logout</a></li>



                </ul>
                </center> <br>
              </div>
              <br>

              <div class="col-sm-9">
                <div class="well">




                  <h4>Dashboard</h4>
                <h5>
                  {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                  </h5></div>

</div>
</div>
</div>


                  <section id="home" class="section">


            home


    </section>




    <section id="socialmedia" class="section">

social media[

]

  </section>








  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>


{% endif %}
{% endblock %}
