{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

 {% if user.is_authenticated %}





<!DOCTYPE html>
<html>
<title>Admin-cronbyte</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.chart-timeline_heartrate .c3-legend-item,
.chart-scatter_exercise .c3-legend-item { display: none; }

</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"></i><img height="30px" src="https://www.cronbyte.com/cronbyte.svg"></a>
  <a href={%url 'timeline' %} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Timeline"><i class="fa fa-history"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Chat"><i class="fa fa-comments"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Social media"><i class="fa fa-forumbee"></i></a>
  <a href={% url 'logout' %} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="logout"><i class="fa fa-power-off"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <a href="{% url 'password_change' %}"><button class="w3-button w3-padding-large" title="Change password"><i class="fa fa-cog"></i></button>   </a>  
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <i class="fa fa-user"></i></a>
  </a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         
         <p class="w3-center"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/4/4c/Pink-panther-1024x768.png/revision/latest?cb=20151220231334" class="w3-circle" style="height:106px;" alt="Avatar"></p>
         <hr>
        <center> 
             
        
      <button type="button" class="w3-button w3-theme"><i class="fa fa-user"></i> {{ user.username }}</button></center>

<br><br>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-history fa-fw w3-margin-right"></i> Timeline</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-forumbee fa-fw w3-margin-right"></i> Social media</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-comments fa-fw w3-margin-right"></i> Chat</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
     
   
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
    
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <div class="container">
                       <div class="row">
                              <div class="col-xs-12">
                                     <h2 class="page-header">Charts</h2>
                               <div class="chart chart-timeline_heartrate js-chart-timeline_heartrate"></div>
                                <br/><br/>
     
      
                               </div>
                             </div>
                            </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        


use me 

      </div>  

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        

use me


      </div> 
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Cronbyte.com</p>
          
          <p><strong>Hitcount</strong></p>
          
          <p><button class="w3-button w3-block w3-theme-l4"><b>2.5K</b></button></p>
        </div>
      </div>
      <br>
</div>

       <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Decompiled.com</p>
          
          <p><strong>Hitcount</strong></p>
          
          <p><button class="w3-button w3-block w3-theme-l4"><b>9.5K</b></button></p>
        </div>
      </div>
      <br>
      
    
      
      
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p>
<a href="timeline/post">
<button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post on timeline</button> </a>

        </p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>fuck you people</h5>
</footer>


 <script id="chatBroEmbedCode">/* Chatbro Widget Embed Code Start */function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','//www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}/* Chatbro Widget Embed Code End */ChatbroLoader({encodedChatId: '62xRP'});</script>


</body>
</html> 

<script type="text/javascript">
  
  var chart_timeline = c3.generate({
    bindto: '.js-chart-timeline_heartrate',
    data: {
      x: 'x',
      //        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
      columns: [
      ['x', '2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16', '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24', '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29', '2016-01-30', '2016-02-01'],
      ['data1', 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250,30, 200, 100, 400, 150, 250,30, 200, 100, 400, 150, 250, 30, 45, 100, 45, 65, 75]
      ]
    },
    axis: {
      x: {
        type: 'timeseries',
        label: 'Date',
        tick: {
          fit: true,
          rotate: 55,
          outer: false,
          count: 31,
          format: '%m/%d/%y',
          culling: false
        }
      },
      y: {
      tick: {
        fit: true,
        culling: false,
        outer: false
      }
    }
    },
   regions: [{
    start: '2016-01-05',
    end: '2016-01-20'
  }]
  });

var chart_exercise = c3.generate({
  bindto: '.js-chart-scatter_exercise-daily',
  data: {
    selection: {
      enabled: true
    },
    x: 'date',
    columns: [
      ['date', '2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16', '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24', '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29', '2016-01-30', '2016-02-01'],
      ['data2', 10, 10, 10, null, null, 20, 40, 20, 60, 80, null, 40, 40, 40, 10, 10, null, 10, null, 10, 10, 10, null, null, 10, 20, 40, 20, 60, 10, ]
    ],
    type: 'timeseries',
    types: {
      data2: 'scatter'
    },
    groups: [
      ['date'],
      ['data2']
    ]
  },
  axis: {
    x: {
      type: 'timeseries',
      label: 'Date',
      tick: {
        fit: true,
        rotate: 55,
        outer: false,
        count: 31,
        format: '%m/%d/%y',
        culling: false
      }
    },
    y: {
      label: {
        text: 'Minutes',
        position: 'outer-middle'
      },
      tick: {
        count: 5,
        values: [10, 20, 40, 60, 80],
        fit: true,
        culling: false,
        outer: false
      }
    }
  },
  grid: {
    y: {
      lines: [{
        value: 10
      }, {
        value: 20
      }, {
        value: 40
      }, {
        value: 60
      }, {
        value: 80
      }]
    }
  },
  regions: [{
    start: '2016-01-05',
    end: '2016-01-20'
  }]

});

var chart_bar = c3.generate({
  bindto: '.js-chart-bar_exercise-weekly',
    data: {
      x: 'x',
      columns: [
          ['x', 'Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7', 'Week 8', 'Week 9', 'Week 10', 'Week 11', 'Week 12'],
             ['0-10', 2, 2, 5, 4, 5, 4, 3, 4, 5, 2, 2, 1],
            ['10-20', 3, 3, 2, 2, 1, 2, 4, 2, 2, 3, 0, 2],
            ['20-40', 3, 4, 0, 2, 1, 1, 3, 2, 2, 3, 4, 2],
            ['40-60', 2, 1, 0, 0, 0, 1, 3, 2, 2, 2, 4, 2],
     ['More than 60', 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 3, 2]
        ], 
        type: 'bar',

        groups: [
            ['0-10', '10-20', '20-40', '40-60', 'More than 60']
        ]
    },
    axis: {
      y: {
        label: {
          text: 'Number of Responses',
          position: 'outer-middle'
        }
      },
     x: {
      type: 'category',
      tick: {
        fit: true,
        rotate: 55,
        outer: false,
        count: 12,
        culling: false,
        multiline: false   
      },
       height: 60
     }
    },
    regions: [{
    start: '1',
    end: '5'
  }],
  tooltip: {
        format: {
            title: function (d) { return '(MM/DD/YYYY - MM/DD/YYYY)'; },
            value: function (value) {
                var format = 12;
                return (value);
            }
        }
    }
});


</script>



 {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}


